main {
  flex: 1; /* Take up remaining space */
}

body {
  background: #61b390;
  min-height: 100vh; /* Make body at least full viewport height */
  display: flex;
  flex-direction: column; /* Stack elements vertically */
}
img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background: #bad8b6;
  border-radius: 5px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 16px;
  background: #bad8b6;
  border-radius: 5px;
}

.copyright-container {
  flex: 1; /* Take up 1 part */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media-container {
  flex: 1; /* Take up 1 part */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.disclaimer-container {
  flex: 1; /* Take up 1 part */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.nav-container a {
  color: #333;
  text-decoration: none;
}

.logo-img {
  width: auto;
  height: 2.5rem; /* Using relative units instead of pixels */
  max-height: 100%;
  max-width: 100%;
}

.header-logo {
  flex: 1; /* Take up 1 part */
}

.header-title {
  flex: 1; /* Take up 1 part */
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: olive;
  font-weight: 1rem;
}

.nav-container {
  flex: 1; /* Take up 1 part */
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.main-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #bad8b6;
}

.card:hover {
  background: #a8d6a1;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
